.topMenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 52px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #ececec;
    background-color: white;
    z-index: 20;
 }
.topMenuLeft{
    width: 300px;
    display: inline-block;
    height: 52px;
    padding: 5px;
}
.logoTopMenu {
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
}
.logoTextTopMenu{
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    text-align: center;
    font-size: 25px;
}
.topMenuRight{
    width: calc(100% - 310px);
    display: inline-block;
    height: 52px;
}
.activityLink{
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    padding-left:20px;
    padding-right:20px;
    color:#777;
    text-decoration: none;
    transition: 0.2s;
}
.activityLink:hover{
    transform: scale(1.1);
}
.linkTopMenuSelected{
    color:black;
}
/*body*/
.activityBodyContainer{
    position: absolute;
    top: 53px;
    text-align: center;
    width: 100%;
    z-index: 10;
    min-height: 100vh;
    overflow-y: auto;
    background-color: rgb(245, 245, 245);
    left: 0;
}
.activityBody {
    max-width: 100%;
    margin: 0px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
}
/*bubble*/
.bubbleNotifyContainer {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: block;
    z-index: 100;
    background-color: rgba(105,105,105,0.7);
    padding: 10px;
    min-width: 300px;
    border-radius: 5px;
}
.bubbleNotifyClose {
    width: 25px;
    height: 25px;
    border-radius: 50% 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
	cursor: pointer;
    transition: 0.2s;
}
.bubbleNotifyClose:hover{
	transform: scale(1.1);
}
.bubbleNotifyClose::before{
    background: white;
    position: absolute;
    display:block;
    content:'';
    width: 70%;
    height: 6%;
    top: 47%;
    left: 15%;
    transform: rotate(45deg);
} 
.bubbleNotifyClose::after{
    background: white;
    position: absolute;
    display:block;
    content:'';
    width: 6%;
    height: 70%;
    left: 47%;
    top: 15%;
    transform: rotate(45deg);
}
.bubbleNotifyContent{
    display: inline-block;
    vertical-align: middle;
    color: white;
    width: calc(100% - 25px);
}
/*home*/
.sliderslider{
    display: block;
    position: relative;
    width: 100%;
    padding-top: calc(100% * 5 / 15);
    height: 0px;
    background-color: #b8b8b8;
    max-width: none;
}
.containerImageSlider{
    top: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 10;
}
.imageSlider {
    top: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: none;
}
.sliderPrev, .sliderNext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    z-index: 10;
    background-color: rgba(0,0,0,0.1);
}
.sliderPrev{
    left:0.5%;
}
.sliderNext {
    right: 0.5%;
    border-radius: 3px;
}
.sliderPrev:hover, .sliderNext:hover {
    background-color: rgba(0,0,0,0.8);
    transform: scale(1.1);
}
.sliderContainerDot{
    BOTTOM: 10px;
    position: absolute;
    z-index: 10;
    width: 100%;
}
.sliderDot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: 0.1px solid  rgba(200,220,202,0.6);

}
.sliderDot:hover{
    transform: scale(1.1);
}
.active, .sliderDot:hover {
    background-color: #717171;
}
/*animations*/
.sliderElementContainerAnimation {
	transition: 2s;
}
.sliderElementContainerPositionedBefore {
	left: -100%;
}
.sliderElementContainerPositionedAfter {
	left: 100%;
}
.sliderElementContainerPositionedCurrent {
	left: 0%;
}
.sliderElementContainer {
	top: 0%;
}
/*imporant*/
.displayNone{
    display:none!important;
}
/**/
.formform{
    max-width: 450px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.inputname,.inputsurname,.inputemail,.inputpassword,.submitsubmit{
    margin-bottom: 20px;
    width: 100%;
}
.input{
    width: 100%;
    height: 50px;
    padding: 5px;
    position: relative;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fbfbfb;
}
.buttonsubmit {
    width: 172px;
    height: 20px;
    background-color: blue;
}
.borderRed{
    border-color:red;
}
/*window*/
.callBackWindowwindow {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    text-align: center;
    overflow-y: scroll;
    background-color: rgba(1,1,1,0.5);
    transition: all 0.7s ease 0s;
    z-index: 164;
} 
.windowContainer {
    transition: all 0.7s ease 0s;
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
}
.windowTop {
    position: relative;
    z-index: 200;
    height: 50px;
    overflow: hidden;
    vertical-align: middle;
    background-color: #00BFA5;
}
.windowTitle {
	line-height: 50px;
    color: white;
    font-size: 19px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 100px);
    text-align: left;
    display: inline-block;
}
.windowClose {
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    position: relative;
	display: inline-block;
	cursor: pointer;
	transition: 0.2s;
}
.windowClose:hover{
	transform: scale(1.1);
}
.windowClose::before{
    background: white;
    position: absolute;
    display:block;
    content:'';
    width: 70%;
    height: 6%;
    top: 47%;
    left: 15%;
    transform: rotate(45deg);
} 
.windowClose::after{
    background: white;
    position: absolute;
    display:block;
    content:'';
    width: 6%;
    height: 70%;
    left: 47%;
    top: 15%;
    transform: rotate(45deg);
} 
.windowBody {
    min-height: 50px;
	background-color: white;
	padding-top: 20px;
    padding-bottom: 20px;
}
/*delet*/
.deletContainer{
    display: inline-block;
    font-weight: bold;
    color: red;
    vertical-align: middle;

}
/*user*/
.lineUser {
    padding: 15px;
    text-align: left;
    display: inline-block;
    max-width: 	50%;
}
.textUser {
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
}
.logoUser {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('../../app/img/placeholder/person.svg');
}